@model Contato

<script>
function myFunction() {
  alert("Sua mensagem foi enviada!");
}
</script>

<h3>Para nos contactar, nos envie as seguintes informações</h3>

<form method="POST">
    <p>
        <label asp-for="nome">Nome completo</label>
        <input type="text" asp-for="nome" required>
    </p>
    <p>
        <label asp-for="email">E-mail</label>
        <input type="email" asp-for="email" required>
    </p>
    <p>
        <label asp-for="mensagem">Sua mensagem</label>
        <input asp-for="mensagem" required>
    </p>
    <input type="submit" onclick="myFunction()" value="Enviar">
</form>

<style>
    form {
        display: table;
    }

    p {
        display: table-row;
    }

    label {
        display: table-cell;
    }

    input {
        display: table-cell;
    }
</style>