<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Localcars Web</title>
    <h2>Carros destaque</h2>
</head>
<body>
    <img src="~/imagens/carrodestaque.jpg" class="img-fluid mb-4" width="300">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="carrodestaque">Renault Zoe</a>
    <h1></h1>
    <img src="~/imagens/prius2017.jpg" class="img-fluid mb-4" width="300">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="prius">Toyota Prius</a>
    <style>
        body {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    </style>
</body>
</html>